<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="15 seconds">

    <property name="pattern"
        value="%d{yyyyMM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>